/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Akhir Reset CSS */

@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@900&display=swap");

:root {
  --headline: #094067;
  --btn-bg: #3da9fc;
  --white: #fffffe;
  --red: #fa8072;
  --nav-scrolled: #fffffef5;
  --paragraf: #5f6c7b;
  --headline-hover: #1e89d6;
  --shadow: #00000041;
  --secondary: #d8eefd;

  --background-dark: #0f0e17;
  --headline-dark: #fffffe;
  --headline-hover-dark: #a8a8a8;
  --highlight-dark: #ff8906;
  --secondary-dark: #232946;
  --paragraph-dark: #eaeaea;
  --nav-scrolled-dark: #0f0e17e8;
}

::-webkit-scrollbar {
  width: 5px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--paragraf); /* Warna latar belakang track scrollbar */
}

::-webkit-scrollbar-thumb {
  background: var(--btn-bg); /* Warna thumb scrollbar */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--headline-hover); /* Warna thumb scrollbar saat dihover */
  border-radius: 5px;
}

* {
  scroll-behavior: smooth;
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}
.aos {
  opacity: 1 !important;
  transform: translateX(0) !important;
  transition: 0.6s ease-out;
}
body {
  font-family: "Lexend Giga", sans-serif;
  transition: 1s ease-out;
}
body.dark {
  transition: 1s ease-out;
}
h1 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.mode {
  display: flex;
  opacity: 0.5;
  width: 50px;
  height: 50px;
  background-color: var(--headline);
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
  border-radius: 15px;
  position: fixed;
  margin: 2rem;
  cursor: pointer;
  z-index: 99999;
  bottom: 0;
  right: 0;
  animation: jump 1s ease-in-out infinite;
}
body.dark .mode {
  background-color: var(--highlight-dark);
}
.mode:hover {
  opacity: 1;
  transition: 0.5s ease-out;
}
.progress-bar {
  width: 0;
  height: 4px;
  background-color: #007bff;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: left center;
  transition: width 0.2s;
}
body.dark .progress-bar {
  width: 0;
  height: 4px;
  background-color: var(--highlight-dark);
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: left center;
  transition: width 0.2s;
}
/* Navbar */
nav {
  display: flex;
  padding: 1rem;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: 0.3s ease-out;
  animation: 0.6s ease-in-out 0s 1 slideInBottom;
}
.overlay-nav {
  display: none !important;
}
nav.nav-hidden {
  /* display: none; */
  opacity: 0;
  transition: 0.3s;
}
nav.nav-scrolled {
  opacity: 1;
  background-color: var(--nav-scrolled);
  transition: 0.3s ease-in;
  box-shadow: 3px 0 15px var(--shadow);
}
body.dark nav.nav-scrolled {
  opacity: 1;
  background-color: var(--nav-scrolled-dark);
  transition: 0.3s ease-in;
  box-shadow: 3px 0 15px var(--shadow);
}
nav .brand {
  margin-left: 2.5rem;
  margin-bottom: 0.5rem;
}

ul {
  display: flex;
  margin-left: auto;
  align-items: center;
}

li a {
  margin: 0.7rem;
  font-size: 1.05rem;
  text-decoration: none;
  align-items: center;
  color: var(--headline);
  font-family: "Lexend Giga", sans-serif;
  font-weight: 900;
  transition: 0.3s;
}
body.dark li a {
  margin: 0.7rem;
  font-size: 1.05rem;
  text-decoration: none;
  align-items: center;
  color: var(--headline-dark);
  font-family: "Lexend Giga", sans-serif;
  font-weight: 900;
  transition: 0.3s;
}
.btn {
  background-color: var(--btn-bg);
  color: var(--white);
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 13px;
  border: transparent;
  font-weight: 900;
  box-shadow: 2px 4px 4px var(--shadow);
  text-shadow: none;
  transition: 0.3s;
  cursor: pointer;
}
body.dark .btn {
  background-color: var(--highlight-dark);
  color: var(--white);
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 13px;
  border: transparent;
  font-weight: 900;
  box-shadow: 2px 4px 4px var(--shadow);
  text-shadow: none;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--headline);
  transition: 0.3s;
}
body.dark .btn:hover {
  background-color: var(--red);
  transition: 0.3s;
}
.btn.btn-hero {
  animation: 0.7s ease-out 0s 1 slideInTop;
}
li a.nav-item:hover {
  color: var(--headline-hover);
  transition: 0.6s;
}
body.dark li a.nav-item:hover {
  color: var(--highlight-dark);
  transition: 0.6s;
}

li a.nav-item.active {
  color: var(--headline-hover);
  transition: 0.6s;
}

body.dark li a.nav-item.active {
  color: var(--highlight-dark);
  transition: 0.6s;
}
/* Hero */
#hero {
  width: 100%;
  height: 100vh;
  background-image: url(img/background.png);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
body.dark #hero {
  width: 100%;
  height: 100vh;
  background-color: var(--background-dark);
  background-image: url(img/background-dark.png);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.h-100 {
  height: 100vh;
}
.container-fluid {
  width: 100%;
}
.container {
  width: 80%;
  margin: auto;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.hero-text {
  width: 50%;
  height: 100vh;
  padding: 3.5rem;
}

.hero-text h1 {
  padding: 10rem 0rem 0rem;
  font-weight: 900;
  color: var(--headline);
  font-size: 2.5rem;
  line-height: 3rem;
  animation: 0.6s ease-in 0s 1 slideInLeft;
}
body.dark .hero-text h1 {
  padding: 10rem 0rem 0rem;
  font-weight: 900;
  color: var(--headline-dark);
  font-size: 2.5rem;
  line-height: 3rem;
  animation: 0.6s ease-in 0s 1 slideInLeft;
}
.hero-text p {
  margin: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--paragraf);
  animation: 0.6s ease-in 0s 1 slideInLeft;
}
body.dark .hero-text p {
  margin: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--paragraph-dark);
  animation: 0.6s ease-in 0s 1 slideInLeft;
}
.hero-image {
  width: 50%;
  height: 100vh;
  animation: 0.9s ease-in-out 0s 1 slideInRight;
}

.hero-image img {
  position: absolute;
  bottom: 0;
}
/* Akhir Hero */

/* Awal layanan */
#layanan {
  background-color: var(--white);
  text-align: center;
  overflow: hidden;
}
body.dark #layanan {
  background-color: var(--background-dark);
}
.layanan-desc {
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.2s ease-in;
}
.dokter-desc {
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.2s ease-in;
}
.layanan-text {
  transform: translateX(-100%);
}
.layanan-image {
  transform: translateX(100%);
}
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
.d-flex {
  display: flex;
}

.content-layanan {
  padding-top: 4rem;
}
#layanan h1 {
  padding: 3rem 0 1rem 0;
  font-size: 2rem;
  font-weight: 900;
  color: var(--headline);
}
body.dark #layanan h1 {
  padding: 3rem 0 1rem 0;
  font-size: 2rem;
  font-weight: 900;
  color: var(--headline-dark);
}
#layanan p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--paragraf);
  padding-bottom: 2rem;
}
body.dark #layanan p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--paragraph-dark);
  padding-bottom: 2rem;
}

.card-container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  height: 200px;
  width: 200px;
  display: block;
  position: relative;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: 4px 4px 8px var(--btn-bg);
  transition: 0.4s ease-out;
  filter: blur(0);
}
body.dark .card {
  height: 200px;
  width: 200px;
  display: block;
  position: relative;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: 4px 4px 8px var(--highlight-dark);
  transition: 0.4s ease-out;
  filter: blur(0);
}
.card .icon img {
  width: calc(100% - 20%);
}
.card:hover {
  background-color: var(--btn-bg);
  transition: 0.4s ease-in;
  box-shadow: 0px 15px 20px var(--btn-bg);
}
body.dark .card:hover {
  background-color: var(--highlight-dark);
  transition: 0.4s ease-in;
  box-shadow: 0px 15px 20px var(--highlight-dark);
}
.card-container:hover .card:not(:hover) {
  filter: blur(2.5px);
}

#dokter {
  background-color: var(--secondary);
}
body.dark #dokter {
  background-color: var(--secondary-dark);
}
#dokter h1 {
  padding: 3rem 0 1rem 0;
  font-size: 2rem;
  font-weight: 900;
  color: var(--headline);
}
body.dark #dokter h1 {
  padding: 3rem 0 1rem 0;
  font-size: 2rem;
  font-weight: 900;
  color: var(--headline-dark);
}
#dokter p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--paragraf);
  padding-bottom: 2rem;
}
body.dark #dokter p.dokter-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--paragraph-dark);
  padding-bottom: 2rem;
}
.icon {
  margin: auto;
}

.dokter-card {
  height: 20rem;
  width: 15rem;
  border-radius: 15px;
  background-color: var(--white);
  box-shadow: 0px 5px 10px var(--shadow);
  overflow: hidden;
  opacity: 0;
  transition: 0.5 ease-in;
}
.image-card {
  height: 15rem;
  width: 15rem;
  background-color: var(--secondary);
  border-radius: 15px;
  background-size: cover;
  transition: 0.4s ease-in;
  box-shadow: 0px 2px 10px var(--shadow);
}
body.dark .image-card {
  height: 15rem;
  width: 15rem;
  background-color: var(--secondary-dark);
  border-radius: 15px;
  background-image: url("img/dokter.png");
  background-size: cover;
  transition: 0.4s ease-in;
  box-shadow: 0px 2px 10px var(--shadow);
}
.name-card button {
  opacity: 0.5;
}
.dokter-card:hover .image-card {
  height: 10rem;
  transition: 0.4s ease-out;
  box-shadow: 0px 2px 5px var(--shadow);
  border-radius: 15px 15px 5px 5px;
}
.dokter-card:hover {
  box-shadow: 0px 5px 10px var(--btn-bg);
  transition: 0.3s ease-out;
  scale: 1.01;
}
body.dark .dokter-card:hover {
  box-shadow: 0px 5px 10px var(--highlight-dark);
  transition: 0.3s ease-out;
  scale: 1.01;
}
.dokter-card:hover .name-card button {
  opacity: 1;
  transition: 1s ease-out;
  margin: auto;
}
.name-card {
  padding: 2rem;
  color: var(--headline);
  font-weight: 900;
  font-size: 1.2rem;
}

.name-card p {
  font-size: 0.9rem !important;
}

#testi {
  background-color: var(--secondary);
  padding-top: 2rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
}
body.dark #testi {
  background-color: var(--secondary-dark);
  padding-top: 2rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
}
#testi h1 {
  padding: 3rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--headline);
}
body.dark #testi h1.testi-title {
  padding: 3rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--headline-dark);
}
#testi p {
  font-size: 1.1rem;
  font-weight: 500 !important;
  color: var(--paragraf);
  padding-bottom: 2rem;
}
body.dark #testi p.testi-text {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--paragraph-dark);
  padding-bottom: 2rem;
}
.card-testi {
  width: 30rem;
  min-height: 15rem;
  background-color: var(--white);
  box-sizing: border-box;
  box-shadow: 2px 2px 3px var(--btn-bg);
  transition: 0.4s ease-out;
  overflow: hidden;
}
.card-testi:hover {
  background-color: var(--background-dark) !important;
}
.card-testi:hover .image {
  animation: jump 0.5s ease-out infinite;
  box-shadow: 0 3px 6px white;
}
.card-testi:hover .testi h1 {
  color: var(--headline-dark) !important;
}
.card-testi:hover .testi p {
  color: var(--paragraph-dark) !important;
}
body.dark .card-testi {
  width: 30rem;
  min-height: 15rem;
  background-color: var(--white);
  box-sizing: border-box;
  box-shadow: 2px 2px 3px var(--highlight-dark);
  overflow: hidden;
}
.card-apotek {
  width: 30rem;
  height: 15rem;
  margin: 1rem;
  background-color: var(--white);
  box-sizing: border-box;
  box-shadow: 2px 2px 3px var(--btn-bg);
  overflow: hidden;
}

body.dark .card-apotek {
  width: 30rem;
  height: 15rem;
  margin: 1rem;
  background-color: var(--white);
  box-sizing: border-box;
  box-shadow: 2px 2px 3px var(--highlight-dark);
  overflow: hidden;
}
.card-apotek .image-apotek {
  background-color: salmon;
  width: 50%;
  height: 100%;
  background-size: cover;
  transition: 0.2s ease-in;
}
.card-apotek .image-apotek:hover {
  background-color: salmon;
  width: 50%;
  height: 100%;
  background-size: cover;
  transform: scale(1.12);
  transition: 0.5s ease-out;
}
.card-apotek .detail-apotek {
  width: 70%;
  height: 100%;
  padding: 0 1rem;
}
.card-apotek .detail-apotek p {
  font-weight: 500 !important;
}
#apotek {
  background-color: var(--white);
  padding-bottom: 5rem;
}
body.dark #apotek {
  background-color: var(--background-dark);
  padding-bottom: 5rem;
}
.image {
  height: 170px;
  width: 200px;
  background-color: var(--white);
  background-size: cover;
  border: 1px solid salmon;
  border-radius: 100%;
  margin: 1.5rem;
  float: left;
}
.testi {
  height: 100%;
  width: 70%;
  float: right;
  text-align: left;
  margin: rem;
}
.testi p {
  font-weight: thin !important;
}
#apotek h1 {
  padding: 3rem 0 1rem 0;
  font-size: 1.5rem;
  padding: 2rem 0;
  font-weight: 900;
  color: var(--headline) !important;
}
#apotek h1.apotek-title {
  padding: 3rem 0 1rem 0;
  font-size: 1.5rem;
  padding: 2rem 0;
  font-weight: 900;
  color: var(--headline) !important;
}
body.dark #apotek h1.apotek-title {
  padding: 3rem 0 1rem 0;
  font-size: 1.5rem;
  padding: 2rem 0;
  font-weight: 900;
  color: var(--headline-dark) !important;
}
#apotek p {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--paragraf);
  padding-bottom: 2rem;
}

#contact {
  background-color: var(--white);
}

#contact h1 {
  padding: 3rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--headline);
}
figcaption {
  color: var(--headline);
  font-weight: 900;
}

/* Tablet */
@media (max-width: 834px) {
  nav ul li a {
    font-size: 0.8rem !important;
  }
  #hero .hero-text {
    width: 100% !important;
  }
  #hero .hero-image {
    display: none !important;
  }
  .card-container {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .card-container:hover .card:not(:hover) {
    filter: blur(0) !important;
  }
  .overlay-nav {
    display: none !important;
  }
}

#contact {
  padding: 40px 0;
  background-color: var(--white);
}
body.dark #contact {
  padding: 40px 0;
  background-color: var(--background-dark);
}
.container-form {
  width: 80%;
  margin: 0 auto;
}

#apotek h1 {
  color: #333333;
}
body.dark #contact h1 {
  color: var(--headline-dark);
}
form {
  margin-top: 20px;
  animation: fadeInUp 1s ease-out;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333333;
}
body.dark label {
  color: var(--headline-dark);
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: #4caf50;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--btn-bg);
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px !important;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: var(--headline-hover);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#footer {
  background-color: var(--secondary);
  font-family: "Lexend Giga", sans-serif;
  text-align: center;
}

body.dark #footer {
  background-color: var(--secondary-dark);
}
#footer p {
  color: var(--headline);
}
body.dark #footer p {
  color: var(--headline-dark);
}
.p-2 {
  padding-bottom: 2rem;
}
.copy {
  background-color: var(--background-dark);
  padding: 2rem;
  color: white;
}
@media (max-width: 430px) {
  nav ul li {
    display: none !important;
  }
  #hero h1 {
    font-size: 2rem !important;
    line-height: 2.2rem !important;
  }
  #hero p {
    font-size: 1rem !important;
  }

  #layanan h1 {
    font-size: 1.7rem !important;
  }
  #layanan p {
    font-size: 1rem !important;
  }
  .card-container {
    justify-content: center;
  }
  .nav-toggle {
    margin-left: auto;
    position: fixed;
    right: 0;
    top: 0;
    margin: 2.5rem 3rem 3rem 3rem;
    z-index: 99999;
    width: 50px;
    height: 50px;
  }
  .overlay-nav {
    display: flex !important;
    color: var(--headline);
    position: fixed;
    padding: 1rem 0 0 0.7rem;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    opacity: 0;
    transition: 0.2s ease-in;
    box-shadow: 0 4px 10px var(--btn-bg);
  }
  body.dark .overlay-nav {
    display: flex !important;
    color: var(--headline);
    position: fixed;
    padding: 1rem 0 0 0.7rem;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    opacity: 0;
    transition: 0.2s ease-in;
    box-shadow: 0 4px 10px var(--highlight-dark);
  }
  .overlay-nav.muncul {
    display: flex !important;
    background-color: var(--white);
    opacity: 1;
    width: 280px;
    overflow: hidden;
    transition: 0.2s ease-in;
  }
  body.dark .overlay-nav.muncul {
    display: flex !important;
    background-color: var(--background-dark);
    opacity: 1;
    width: 280px;
    transition: 0.2s ease-in;
  }
  .overlay-nav .nav-items {
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: var(--secondary);
    text-align: center;
  }
  .overlay-nav .nav-items:hover {
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: var(--secondary);
    text-align: center;
    box-shadow: 0px 3px 6px var(--btn-bg);
  }
  body.dark .overlay-nav .nav-items {
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: var(--secondary-dark);
    text-align: center;
  }
  body.dark .overlay-nav .nav-items:hover {
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: var(--secondary-dark);
    text-align: center;
    box-shadow: 0px 3px 6px var(--highlight-dark);
  }
  .overlay-nav .nav-items a {
    text-decoration: none;
    color: var(--headline);
    padding: 2rem;
    font-weight: 900;
  }
  body.dark .overlay-nav .nav-items a {
    text-decoration: none;
    color: var(--headline-dark);
    padding: 2rem;
    font-weight: 900;
  }
  .overlay-nav .nav-items a:hover {
    text-decoration: none;
    color: var(--headline-hover);
    font-weight: 900;
  }
  body.dark .overlay-nav .nav-items a:hover {
    text-decoration: none;
    color: var(--background-dark);
    font-weight: 900;
  }
  .bar {
    width: 100%;
    background-color: var(--headline);
    height: 8px;
    margin: 5px;
    border-radius: 5px;
    transition: 0.3s;
  }
  body.dark .bar {
    width: 100%;
    background-color: var(--highlight-dark);
    height: 8px;
    margin: 5px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .bar.dua {
    width: 75% !important;
  }
  .bar.tiga {
    width: 50% !important;
  }
  .bar.clicked {
    background-color: var(--btn-bg);
  }
  body.dark .bar.clicked {
    background-color: var(--secondary-dark);
  }
  .bar.dua.clicked {
    width: 75% !important;
  }
  .bar.tiga.clicked {
    width: 100% !important;
  }
  .nav-toggle:hover > .bar {
    background-color: var(--btn-bg);
  }
  body.dark .nav-toggle:hover > .bar {
    background-color: var(--secondary-dark);
  }
  .card {
    height: 125px !important;
    width: 125px !important;
  }
  figcaption {
    font-size: 0.7rem;
  }
  .layanan-image {
    display: none !important;
  }
}
